node-red/.flows.json.backup
[{"id":"ecd92f8.1bddd5","type":"tab","label":"Lifx Switches","disabled":false,"info":""},{"id":"9dbb6614.3e9fb8","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"d8a62712.738d9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e9872572.6095","type":"lifx-config","token":"cc12767893c955b5a9d3e3cc5ab31dd21218069b8d712fa0923be935da0c822e"},{"id":"e13c77ef.bdde6","type":"lifx-client","name":"LiFx Client"},{"id":"ebc78bfb.197da8","type":"inject","z":"ecd92f8.1bddd5","name":"10 second poll","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["33f0244b.329eac"]]},{"id":"4beeba1.5349544","type":"debug","z":"ecd92f8.1bddd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":80,"wires":[]},{"id":"88d8ef13.bc7de","type":"switch","z":"ecd92f8.1bddd5","name":"relay[0].powerstate","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":260,"wires":[["e4136bdc.4b852","bcba27e7.4665b8"]]},{"id":"e4136bdc.4b852","type":"change","z":"ecd92f8.1bddd5","name":"Relay On","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["c1f1a682.094eb8"]]},{"id":"bcba27e7.4665b8","type":"change","z":"ecd92f8.1bddd5","name":"Relay Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":300,"wires":[["c1f1a682.094eb8"]]},{"id":"c1f1a682.094eb8","type":"rbe","z":"ecd92f8.1bddd5","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":480,"y":260,"wires":[["48628912.b11af8"]]},{"id":"48628912.b11af8","type":"ha-entity","z":"ecd92f8.1bddd5","name":"Switch 1","server":"9dbb6614.3e9fb8","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Switch1_1"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":110,"y":440,"wires":[[],[]]},{"id":"33f0244b.329eac","type":"lifx","z":"ecd92f8.1bddd5","name":"","lightLabel":"label:switch|0","on":true,"hue":"0","saturation":"0","luminance":"100","whiteColor":"3200","fadeTime":"1","lx":"e13c77ef.bdde6","x":150,"y":140,"wires":[["4beeba1.5349544","48628912.b11af8"]]}]